<template>
  <div>
    <div>
      <b-container class="d-flex justify-content-center">
        <div id="side-btn" @click="click_menu">
          <b-button id="sideBar" v-b-toggle.sidebar-no-header>
            <font-awesome-icon icon="bars" />
          </b-button>
        </div>
        <b-sidebar id="sidebar-no-header" no-header right shadow>
          <template #default="{ hide }">
            <b-button block class="col-2 ml-auto" @click="hide(), close_menu()">X</b-button>
            <p v-for="(subject, index) in subjects"
               :key="index"
               draggable="true"
               @dragstart="dragStarted"
               @dragover="draggingOver"
               @drop="dropped"
            >
              {{subject.text}}
            </p>
            <b-form-group>
            </b-form-group>
            <b-form-input v-model="add_places"></b-form-input>
            <b-button v-on:click="add_element">教科を追加する</b-button>
          </template>
        </b-sidebar>
      </b-container>
    </div>
    <section>
      <table class="table table-bordered"
             data-sheet-name="時間割表"
             id="table">
        <thead class="text-center">
        <tr>
          <th> </th>
          <th v-for="dayOfWeek in timetable.daysOfWeek" :key="dayOfWeek">{{dayOfWeek}}</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="komas in timetable.alltable" :key="komas.time">
          <th class="times">{{komas.time}}</th>
          <!-- eslint-disable-next-line -->
          <koma id="komatable" v-for="item in komas.komaArray" :session="item"></koma>
        </tr>
        </tbody>

      </table>
    </section>
    <div class="justify-content-center">
      <b-button v-on:click="clear_button" type="button" id="clearButton" class="m-5">
        <font-awesome-icon icon="reply"/>
        リセット
      </b-button>
      <b-button type="button" class="m-5" id="saveButton" @click="saveData">
        <font-awesome-icon icon="save"/>
        保存
      </b-button>
      <b-button type="button" class="m-5" id="printButton" @click="print">
        <font-awesome-icon icon="print"/>
        印刷
      </b-button>
    </div>
  </div>
</template>

<script>
import subjectData from '@/data/data.json';
import Koma from '@/components/Koma.vue';
import Timetable from '@/components/timetable';

export default {
  components: {
    // eslint-disable-next-line vue/no-unused-components
    subjectData,
    Koma,
  },
  data() {
    return {
      courseGradeId: '',
      subjects: [],
      selected: '',
      add_places: null,
      displayCredit: 0,
      getSubID: 0,
      timetable: new Timetable(),
      daysOfWeek: [
        '月',
        '火',
        '水',
        '木',
        '金',
      ],
      tableall: [
        {
          time: 1,
          komaArray: [
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
          ],
        },
        {
          time: 2,
          komaArray: [
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
          ],
        },
        {
          time: 3,
          komaArray: [
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
          ],
        },
        {
          time: 4,
          komaArray: [
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
          ],
        },
        {
          time: 5,
          komaArray: [
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
          ],
        },
        {
          time: 6,
          komaArray: [
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
          ],
        },
      ],
    };
  },
  created() {
    this.courseGradeId = sessionStorage.getItem('course&grade');
    this.inquiryCourse(this.courseGradeId);
  },
  methods: {
    click_menu() {
      const elem = document.getElementById('table');
      elem.style.width = '75%';
    },
    close_menu() {
      const elem = document.getElementById('table');
      elem.style.width = '100%';
    },
    clear_button() {
      if (window.confirm('表の中のデータをクリアします。')) {
        // v-bindの削除が初期化がうまくいかないので今はリロードで対応
        document.location.reload(true);
        // v-modelの初期化
        this.message = '';
        this.selected = '';
      } else {
        // キャンセル時のアラート(動作確認)
        alert('キャンセルされました');
      }
    },
    change_color_red(target, target2) {
      const color = document.getElementById(target);
      const color2 = document.getElementById(target2);
      color.style.backgroundColor = '#ff0000';
      color2.style.backgroundColor = '#ff0000';
    },
    change_color_white(target, target2) {
      const color = document.getElementById(target);
      const color2 = document.getElementById(target2);
      color.style.backgroundColor = '#ffffff';
      color2.style.backgroundColor = '#ffffff';
    },
    add_element() {
      const keyname = `${this.courseGradeId}Data`;
      const addsubject = this.add_places;
      if (!addsubject) {
        window.alert('追加する教科名を入力してください。');
        console.log(this.add_places);
      } else {
        this.subjects = JSON.parse(localStorage.getItem(keyname));
        if (this.subjects === null) this.subjects = [];

        // 配列の最後の要素のidを取得
        const lastId = this.subjects.slice(-1)[0].id;
        const entry = {
          id: lastId + 1,
          text: addsubject,
        };
        this.subjects.push(entry);
        localStorage.setItem(keyname, JSON.stringify(this.subjects));
      }
      this.add_places = null;
      console.log(this.add_places);
    },
    inquiryCourse(id) {
      if (id) {
        const keyname = `${id}Data`;
        const localdata = localStorage.getItem(keyname);
        if (!localdata) {
          // LocalStorageに CourseGradeIdと合致するjsonデータをset
          localStorage.setItem(keyname, JSON.stringify(subjectData[id].subjects));
          // setしたデータをsubjects配列に取得
          this.subjects = JSON.parse(localdata);
        } else {
          this.subjects = JSON.parse(localdata);
        }
        console.log(this.subjects);
      }
    },
    dragStarted(event) {
      this.source = event.target;
      event.dataTransfer.setData('text/plain', event.target.innerHTML);
      // eslint-disable-next-line no-param-reassign
      event.dataTransfer.effectAllowed = 'move';
    },
    draggingOver(event) {
      event.preventDefault();
      // eslint-disable-next-line no-param-reassign
      event.dataTransfer.dropEffect = 'move';
    },
    dropped(event) {
      event.preventDefault();
      event.stopPropagation();
      this.source.innerHTML = event.target.innerHTML;
      // eslint-disable-next-line no-param-reassign
      event.target.innerHTML = event.dataTransfer.getData('text/plain');

      // const table = document.getElementById('table');
      // const td = table.getElementsByTagName('td');
      // tableが空白だったときにサイドバーの所に空白が入るのを抑制する
      if (this.source.innerHTML === '' || this.source.innerHTML) {
        this.source.innerHTML = event.target.innerHTML;
      }
      console.log(event.target);
      console.log(this.source);
    },
    saveData() {
      window.print();
      // const saveKeyName = `${this.courseGradeId}SaveData`;
      // const tableData = document.getElementsByTagName('table').innerHTML;
      // localStorage.setItem(saveKeyName, JSON.parse(tableData));
      // window.alert('編集データがLocalStorageに保存されました。');
    },
    print() {
      window.print();
    },
  },
};
</script>

<style>
  th {
    width: 60px;
  }
  td {
    width: 300px;
  }
  p{
    margin: 10px;
    padding: 10px;
    border: 1px solid #7f7f7f;
    border-radius: 10px;
    background-color: #ffffff;
  }
  #date_cell_color {
    background-color: #D9E5FF;
  }
  #side-btn{
    display: flex;
    position: -webkit-sticky;
    position: absolute;
    top: calc(100% - 99%);
    left: calc(100% - 3%);
  }
  #sidebar-right{
    position: relative; top: 56px;
    width: calc(100% - 75%);
  }
  @media print,saveData {
    #sideBar {
      display: none;
    }
    #clearButton {
      display: none;
    }
    #saveButton {
      display: none;
    }
    #printButton {
      display: none;
    }
    #table {
      width: 100%;
      height: 100%;
    }
  }
  @page {
    size: landscape;
  }
</style>
