<template>
  <div>
    <b-container class="d-flex justify-content-end">
    </b-container>
    <br><br><br><br>
    <br><br>
      <div class="mt-3">
          <b-container>
            <router-link to="/edittable">
              <b-button class="col-4 btn-xl" size="lg">
               <font-awesome-icon icon="edit"/>編集
              </b-button>
            </router-link><br><br><br><br>
            <router-link to="/">
              <b-button variant="primary" class="col-4 btn-xl">
                <font-awesome-icon icon="arrow-alt-circle-left"/>  戻る
              </b-button>
            </router-link>
          </b-container>
      </div>
  </div>
</template>

<script>
export default {
  data() {
    return {

    };
  },
};
</script>
<style>
  .btn-xl {
    width: 400px;
    height: 70px;
    font-size: 35px;
  }
</style>
