<template>
  <td draggable="true" @dragstart="dragStarted" @dragover="draggingOver" @drop="dropped">
<!--        <b-form-input v-model="session.subject"></b-form-input>-->
  </td>
</template>

<script>

export default {
  name: 'Koma',
  props: ['session'],
  methods: {
    dragStarted(event) {
      this.sourse = event.target;
      event.dataTransfer.setData('text/plain', event.target.innerHTML);
      // eslint-disable-next-line no-param-reassign
      event.dataTransfer.effectAllowed = 'move';
    },
    draggingOver(event) {
      event.preventDefault();
      // eslint-disable-next-line no-param-reassign
      event.dataTransfer.dropEffect = 'move';
    },

    dropped(event) {
      event.stopPropagation();
      if (event.target.innerHTML === document.getElementById('sidebar-no-header')) {
        this.sourse.innerHTML = event.target.innerHTML;
      }
      // eslint-disable-next-line no-param-reassign
      event.target.innerHTML = event.dataTransfer.getData('text/plain');
      event.preventDefault();
    },
  },
};
</script>

<style scoped>

</style>
